* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box; 
}

header {
  background-color: rgb(124, 229, 124);
  width: 100%; //Largura W
  height: 20vh; //Altura H


  h2 {
    background-color: #66bb6a;
    display: block;

    display: inline; 

    
    display: inline-block;
    width: 30%;
    color: #ffffff;
  }

  nav {
    
    display: inline-block;
    width: 40%;
    text-align: end;

    a {
      margin-right: 20px;
      text-decoration: none; 
    }
  }
    .background {
      background-color:#ffffff;
      height: 80vh;
      background-image: url("./assets/background.png");
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      padding-top: 180px;
    }
    h1 {
      font-size: 5rem;
      color: #ffffff;
      margin-bottom: 15px;
      font-family: "Sansita Swashed"

      }
    p {
      font-size: 2rem;
      color: #ffffff;

    }
    button {
      background-color: #66bb6a;
      color: #ffffff;
      border: none;
      padding: 15px 30px;
      border-radius: 20px;
    }
}
