* {
  margin: 0; //Remove o espaço externo padrão
  padding: 0; //Remove o preenchimento padrão
  box-sizing: border-box; //Respeitar as medidas que eu especificar
}

header {
  background-color: rgb(124, 229, 124);
  width: 100%; //Largura W
  height: 20vh; //Altura H

  //padding-left: 50px; //Move internamente da esquerda para a direita

  //padding-top: 50px; //Move internamente de cima para baixo

  //padding-right: 50px; //Move internamente da direita para a esquerda

  // padding-bottom: 50px; //Move internamente de baixo para cima

  //margin-top: 50px; //Move todo o elemento de cima para baixo

  // margin-left: 50px; //Move todo o elemento da esquerda para a direita

  // margin-right: 40px;  //Move todo o elemento da direita para a esquerda

  // margin-bottom:  40px; //Move todo o elemento de baixo para cima

  h2 {
    background-color: #66bb6a;
    display: block; //Ocupa toda a linha (horizontal/largura) independente do tamanho do elemento, comportamento de <div> , <h1>, <p> ...

    display: inline; //Ocupa somente o espaço do elemento, comportamento da tag <a> e <span>

    //O que vamos utilizar - display: inline-block;
    display: inline-block; //Deixa na mesma linha e permite o controle de larguras e alturas
    width: 30%;
    color: #ffffff;
  }

  nav {
    //background-color: #d2aed2;
    display: inline-block;
    width: 40%;
    text-align: end;

    a {
      margin-right: 20px;
      text-decoration: none; //Tira a estilização padrão da tag <a>
    }
  }
    .background {
      background-color:#ffffff;
      height: 80vh;
      background-image: url("./assets/background.png");
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      padding-top: 180px;
    }
    h1 {
      font-size: 5rem;
      color: #ffffff;
      margin-bottom: 15px;
      font-family: "Sansita Swashed"

      }
    p {
      font-size: 2rem;
      color: #ffffff;

    }
    button {
      background-color: #66bb6a;
      color: #ffffff;
      border: none;
      padding: 15px 30px;
      border-radius: 20px;
    }
}